.top_nav{
  display: flex;
  color: rgba(255,255,255,0.8);
  justify-content: space-around;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(0,100,210,0.9);
}
.top_nav a{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.active_nav{
  color: rgba(255,0,255,0.6);
  background-color: #fff;
}